:root{
    --clr-primary: #1C212D;
    --clr-blue: #2B33F2;
    
    /* Font Size */
    --fs-900: 90px;
    --fs-800: 80px;
    --fs-700: 70px;
    --fs-600: 60px;
    --fs-500: 50px;
    --fs-400: 40px;
    --fs-300: 30px;
    --fs-200: 20px;

    /* Font Weight */
    --fw-900: 900;
    --fw-800: 800;
    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;
    --fw-400: 400;
    --fw-300: 300;
    --fw-200: 200;
    --fw-100: 100;

    --container-width: 74rem;

    /* Font-Family */

    --ff-headers: 'Josefin Sans', sans-serif;
    --ff-text: 'Inter', sans-serif;
}

 /* Google Fonts Imports */
  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

h1,h2,h3,h4,h5,h6 {
    font-family: var(--ff-headers);
}

p {
    font-family: var(--ff-text);
}

body{
    background-color: var(--clr-primary);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h3{
    font-size:2.5rem;
    color: #fff;
}

nav ul{
    font-size: 1.2rem;
    font-family: var(--ff-headers);
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    color: #fff;
}

nav ul li{
    cursor: pointer;
}

/* Contact Buttons */

nav ul li:last-child{
    background: #2B33F2;
    padding-top: 0.35rem;
    padding-inline: 1rem;
    border-radius: 20rem;
    
}

.contact-btn{
    background: #2B33F2;
    padding-top: 0.30rem;
    padding-bottom: 0.30rem;
    padding-inline: 1rem;
    border-radius: 20rem;
    text-decoration: none;
    border: none;

}

.contact-btn a{
    text-decoration: none;
    font-family: var(--ff-headers);
    color: #fff;
}

.container{
    width: 90%;
    max-width: var(--container-width);
    margin-inline: auto;
}


/*Services Container */

.services-container{
    margin-inline: 0;
}

/*Technology Container */

.technology-container{
    margin-inline: 0;
}

/*Technology Container */

.project-container{
    margin-inline: 0;
}

/*Contact Section Container */

.contact-section{
    margin-inline: 0;
}

.footer{
    margin-inline: 0;
}

/* Hero Section */
.hero-container{
    display: flex;

}

.hero-text h2{
    color: #fff;
    font-size: 60px;
    width: 50%;
}