:root{
    --clr-primary: #1C212D;
    --clr-blue: #2B33F2;
    
    /* Font Size */
    --fs-900: 90px;
    --fs-800: 80px;
    --fs-700: 70px;
    --fs-600: 60px;
    --fs-500: 50px;
    --fs-400: 40px;
    --fs-300: 30px;
    --fs-200: 20px;

    /* Font Weight */
    --fw-900: 900;
    --fw-800: 800;
    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;
    --fw-400: 400;
    --fw-300: 300;
    --fw-200: 200;
    --fw-100: 100;

    --container-width: 74rem;

    /* Font-Family */

    --ff-headers: 'Josefin Sans', sans-serif;
    --ff-text: 'Inter', sans-serif;
}

 /* Google Fonts Imports */
  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

h1,h2,h3,h4,h5,h6 {
    font-family: var(--ff-headers);
}

p {
    font-family: var(--ff-text);
}

body{
    background-color: var(--clr-primary);
    
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h3{
    font-size:2.5rem;
    color: #fff;
    text-shadow: 8px 5px 2px rgba(0,0,0,0.71);
    
}

nav ul{
    font-size: 1.2rem;
    font-family: var(--ff-headers);
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    color: #fff;
}

nav ul li{
    cursor: pointer;
}

/* Contact Buttons */

nav ul li:last-child{
    /* background: #2B33F2; */
    padding-top: 0.35rem;
    padding-left: 2rem;
    border-radius: 20rem;
    
    
}

.navbar{
    margin-top: 2.2rem;
}

/* nav links hover effect */

.nav-link {
    display: inline-block;
    position: relative;
    color: #fff;
  }

  .nav-link:hover {
    box-shadow: -1px 18px 11px -1px rgba(3,3,3,0.7);
   -webkit-box-shadow: -1px 18px 11px -1px rgba(3,3,3,0.7);
   -moz-box-shadow: -1px 18px 11px -1px rgba(3,3,3,0.7);
   transition: all 0.3s;
  }
  
  .nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(31,209,249,1) 0%, rgba(182,33,254,1) 52%, rgba(31,209,249,1) 100%);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

/* .contact-btn{
    background: #2B33F2;
    padding-top: 0.30rem;
    padding-bottom: 0.30rem;
    padding-inline: 1rem;
    border-radius: 20rem;
    text-decoration: none;
    border: none;

} */

.contact-btn {
    width: 130px;
    height: 40px;
    border-radius: 20rem;
    color: #fff;
    /* border-radius: 5px; */
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;

    box-shadow: 16px 15px 11px -1px rgba(3,3,3,0.74);
    -webkit-box-shadow: 16px 15px 11px -1px rgba(3,3,3,0.74);
    -moz-box-shadow: 16px 15px 11px -1px rgba(3,3,3,0.74);
  }

  .btn-9 {
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  .btn-9:after {
    position: absolute;
    content: " ";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
    transition: all 0.3s ease;
  }
  .btn-9:hover {
    background: transparent;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    color: #fff;
  }
  .btn-9:hover:after {
    -webkit-transform: scale(2) rotate(180deg);
    transform: scale(2) rotate(180deg);
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  }

.contact-btn a{
    text-decoration: none;
    font-size: 1.2rem;
    font-family: var(--ff-headers);
    color: #fff;
}

.container{
    width: 85%;
    max-width: var(--container-width);
    margin-inline: auto;
    
}


/*Services Container */

.services-container{
    margin-inline: auto;
    margin-bottom: 12rem;
    
}

.services-container h3 {
    text-align: center;
    margin-bottom: 5rem;
}

.services-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 7rem;
    align-items: center;
    justify-content: center;
    
}

.card {
    color: #fff;
    width: 300px;
    height: 300px;
    border: 1px solid #fff;
    border-radius: 1rem;
    transition: all 0.25s;
    box-shadow: 20px 16px 11px -4px rgba(3,3,3,0.63);
   -webkit-box-shadow: 20px 16px 11px -4px rgba(3,3,3,0.63);
   -moz-box-shadow: 20px 16px 11px -4px rgba(3,3,3,0.63);

    
    
}

.card:hover {
    background: rgb(31,209,249);
    background: linear-gradient(90deg, rgba(31,209,249,0.5) 0%, rgba(182,33,254,.5) 52%, rgba(31,209,249,0.5) 100%);
    border: none;
    box-shadow: 42px 41px 11px -4px rgba(3,3,3,0.79);
    -webkit-box-shadow: 42px 41px 11px -4px rgba(3,3,3,0.79);
    -moz-box-shadow: 42px 41px 11px -4px rgba(3,3,3,0.79);   
}

.card:hover > img {
    box-shadow: 9px 8px 11px -1px rgba(3,3,3,0.49);
    -webkit-box-shadow: 9px 8px 11px -1px rgba(3,3,3,0.49);
    -moz-box-shadow: 9px 8px 11px -1px rgba(3,3,3,0.49);
    transition: all 0.4s;
    
}

.card h5 {
    text-align: center;
    font-size: var(--fs-300);
    padding: 0;
    margin-block: 1rem;
    

}

.card p{
    text-align: center;
    padding-inline: 1rem;
    padding-block: 0rem;
    bottom: 0rem;
    

}

.card img {
    width: 80px;
    margin-inline: auto;
    margin-top: 2rem;
}



/*Technology Container */

.technology-container{
    margin-inline: auto;
    margin-bottom: 12rem;
}

.technology-container h3 {
    text-align: center;
}

/*Project Container */

.project-container{
    margin-inline: auto;
    margin-bottom: 12rem;
    color: #fff;
}

.project-container h3 {
    text-align: center;
}

.project-card{
    display: flex;
}

.project-card-text {
    width: 50%;
}

.project-card-text h6 {
    font-size: 1.7rem;
    font-family: 'inter', sans-serif;

}

.project-image-container {
    width: 50%;
}

/*Contact Section Container */

.contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    margin-bottom: 6rem;
}



.contact-section h3 {
    text-align: center;
    margin: 0rem;
}

.contact-section p {
    text-align: center;
    margin-bottom: 3rem;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 1.5rem;
    background: rgb(2,0,36);
    background: rgb(182,33,254);
    background: radial-gradient(circle, rgba(182,33,254,.5) 0%, rgba(182,33,254,.5) 38%, rgba(31,209,249,.5) 100%);
    width: 420px;
    height: 530px;
    color: #fff;
    font-family: 'inter', sans-serif;
    margin-bottom: 7rem;
    box-shadow: 20px 16px 11px -4px rgba(3,3,3,0.63);
   -webkit-box-shadow: 20px 16px 11px -4px rgba(3,3,3,0.63);
   -moz-box-shadow: 20px 16px 11px -4px rgba(3,3,3,0.63);
}

form input,
form label,
form button{
    display: block;
    
}

form input,
form textarea{
    margin-bottom: 2rem; 
    width: 100%;  
}

form textarea{
    resize: none;

}

.input-container {
    width: 300px;
    padding-top: 1.8rem;
}

/* Contact Detail Block */
.contact-block{
    display: flex;
    gap: 1rem;
    justify-content: start;
    align-items: center;
}

.contact-block p {
    margin: 0 !important;

}

.contact-block img{
    width: 40px;
    cursor: pointer;
    
}


.contact-block img:hover{
    fill: radial-gradient(circle, rgba(182,33,254,.5) 0%, rgba(182,33,254,.5) 38%, rgba(31,209,249,.5) 100%);
}
    

.contact-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
    grid-column-gap: 8rem;
    align-items: center;
    
}

@media(max-width: 62rem) {
    .contact-details{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 3rem;
        grid-column-gap: 8rem;
    }
}

@media(max-width: 39rem) {
    .contact-details{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-row-gap: 1.8rem;  
    }
}

.footer{
    width: 100%;
    margin-inline: auto;
    margin-top: 3rem;
    text-align: center;
    background: rgb(182,33,254);
    background: radial-gradient(circle, rgba(182,33,254,.5) 0%, rgba(182,33,254,.5) 38%, rgba(31,209,249,.5) 100%);
}

.footer p{
    padding: 1rem;
    color: #fff;
}

/* Hero Section */
.hero-container{
    display: flex;
    margin-bottom: 10rem;
    margin-top: 5rem;
    justify-content: space-between;
}

.hero-text h2{
    color: #fff;
    font-size: 60px;
    width: 50%;
    line-height: 1.2;
}

.hero-text p{
    color: #fff;
    font-size: 20px;
    width: 50%;
    margin-bottom: 2rem;

}

.hero-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image img{
    display: inline-block;
    width: 80%;
   
}

.about-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 12rem;

}

.about-text{
    width: 50%;
}

.about-image{   
}

.about-intro{
    font-size:1.5rem;
    font-weight: var(--fw-200);

}

h3{
    font-size: 3rem;
    font-weight: var(--fw-300);
    color: #fff;
   
}

/* Newsletter Section */

.newsletter {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;
}

.newsletter-field {
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.newsletter p {
    color: #fff;
    margin: 2rem;
}

.newsletter input {
    width: 400px;
    height: 37px;
    padding: 0 2rem;
    border: none;
    border-radius: 2rem;
    font-family: 'inter', sans-serif;
}

.newsletter input:focus {
    border: none;

}

/* .newsletter button {
    position: relative;
    left: 10px;
    color: #fff;
    width: 7rem;
    border: none;
    border-radius: 2rem;
    padding-block: .5rem;
    background:var(--clr-blue);
    font-family: 'inter', sans-serif;
    cursor: pointer;
} */

.newsletter button {
    left: 10px;

}

