:root{
    --clr-primary: #1C212D;
    --clr-blue: #2B33F2;
    
    /* Font Size */
    --fs-900: 90px;
    --fs-800: 80px;
    --fs-700: 70px;
    --fs-600: 60px;
    --fs-500: 50px;
    --fs-400: 40px;
    --fs-300: 30px;
    --fs-200: 20px;

    /* Font Weight */
    --fw-900: 900;
    --fw-800: 800;
    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;
    --fw-400: 400;
    --fw-300: 300;
    --fw-200: 200;
    --fw-100: 100;

    --container-width: 74rem;

    


}
